.profile {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headStyle {
    text-align: center;
    font-size: 35px;
}

.content {
    text-align: center;
}

.box {
    width: 400px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border: 4px solid gray;
    border-radius: 15px;

    box-shadow: 5px 5px black;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    font-size: 15px;
    color: white;
}

.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}

.right-menu {
    width: 80%;
    height: 400px;
    background-color: coral;
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    /* clear: both;*/
}

.mainbox {
    width: 800px;
}

.nameheader {
    width: 6%;
    height: 50px;
    float: left;
}

.maincontent {
    width: 70%;
    height: 150px;
    float: left;
}

.photobox {
    width: 30%;
    height: 200px;
    float: right;
}

.profilephoto {
    width: 50px;
    position: absolute;
    top: 14px;
}

.photoboxphoto {
    width: 220px;
    position: absolute;
    top: 25px;
    left: 580px;
}

.contenthead {
    height: 25px;
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 16px;
    font-weight: bold;
}

.contentmain {
    height: 60px;
    position: absolute;
    left: 20px;
    top: 110px;
    font-size: 12.5px;
}

.nameheader2 {
    width: 45%;
    height: 30px;
    position: absolute;
    left: 70px;
}

.nameheader3 {
    width: 45%;
    height: 20px;
    position: absolute;
    left: 72px;
    top: 30px;
}

.nametag2 {
    font-size: 15px;
    color: dimgrey;
}

.mainread {
    color: dimgrey;
}

.blog-content {
    width: 80%;
    height: 200px;
    background-color: aqua;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    background-color: aquamarine;
    float: left;
}

.blog-profile {
    width: 50px;
    float: left;
}

.blog-name {
    float: left;
}
