.profile {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headStyle {
    text-align: center;
    font-size: 35px;
}

.content {
    text-align: center;
}

.box {
    width: 400px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border: 4px solid gray;
    border-radius: 15px;

    box-shadow: 5px 5px black;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    font-size: 15px;
    color: white;
}
